.flex-container {
    /* background-color: aquamarine; */
    display: inline-flex;
    margin-top: 20px;
}

.personBlock {
    /* background-color: aqua; */
    display: inline-flex;
    border: 2px solid black;
    margin-bottom: 5px;
    margin-right: 5px;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

.personName {
    /* background-color: red; */
    display: inline-flex;
    justify-content: center;
    width: 130px;
}

.buttonContainer {
    /* background-color: green; */
    margin-left: auto;
}

.buttonContainer > button {
    /* background-color: black; */
    border-radius: 10px;
    height: 25px;
    width: 35px;
}

form, input, select {
    margin-bottom: 5px;
}