<form (ngSubmit)="createPerson()">
    <input id="name" name="name" type="text" placeholder="Digite o nome" [(ngModel)]="super.person.name"><br>
    ★ <input id="birth" name="birth" type="date" palceholder="Nascimento" [(ngModel)]="super.person.birthDate">
    ✟ <input id="death" name="death" type="date" palceholder="Falecimento" [(ngModel)]="super.person.deathDate"><br>
    <div>
        <label for="gender">Gênero: </label>
        <select name="gender" [(ngModel)]="super.person.gender">
            <option value="female">feminino</option>
            <option value="male">masculino</option>
        </select>
    </div>
    <div *ngIf="super.personList.length >= 1">
        <label for="marriedTo">Casado(a) com </label>
        <select name="marriedTo" [(ngModel)]="super.person.marriedTo">
            <option *ngFor="let selectPerson of super.personList" value="{{ selectPerson.id }}">{{ selectPerson.name }}</option>
        </select><br>
    </div>
    <div *ngIf="super.personList.length >= 2">
        <label for="firstParent">Filho(a) de </label>
        <select name="firstParent" [(ngModel)]="super.person.firstParent">
            <option *ngFor="let selectPerson of super.personList" value="{{ selectPerson.id }}">{{ selectPerson.name }}</option>
        </select>
        <label for="secondParent"> e </label>
        <select name="secondParent" [(ngModel)]="super.person.secondParent">
            <option *ngFor="let selectPerson of super.personList" value="{{ selectPerson.id }}">{{ selectPerson.name }}</option>
        </select><br>
    </div>
    <input type="submit" value="Adicionar" *ngIf="!super.editing">
    <input type="submit" value="Salvar" *ngIf="super.editing">
    <button style="margin-left: 5px;" (click)="super.clearPerson(); super.editing=false">Cancelar</button>
</form>

<div style="margin-bottom: 10px;">
    <button (click)="super.updateList()">🔄</button>
</div>