<form (ngSubmit)="createPerson()">
    <input id="name" name="name" type="text" placeholder="Digite o nome" [(ngModel)]="person.name"><br>
    ★ <input id="birth" name="birth" type="date" palceholder="Nascimento" [(ngModel)]="person.birthDate">
    ✟ <input id="death" name="death" type="date" palceholder="Falecimento" [(ngModel)]="person.deathDate"><br>
    <div *ngIf="personList.length >= 1">
        <label for="marriedTo">Casado(a) com </label>
        <select name="marriedTo" [(ngModel)]="person.marriedTo">
            <option></option>
            <option *ngFor="let selectPerson of personList" value="{{ selectPerson.id }}">{{ selectPerson.name }}</option>
        </select><br>
    </div>
    <div *ngIf="personList.length >= 2">
        <label for="firstParent">Filho(a) de </label>
        <select name="firstParent" [(ngModel)]="person.firstParent">
            <option></option>
            <option *ngFor="let selectPerson of personList" value="{{ selectPerson.id }}">{{ selectPerson.name }}</option>
        </select>
        <label for="secondParent"> e </label>
        <select name="secondParent" [(ngModel)]="person.secondParent">
            <option></option>
            <option *ngFor="let selectPerson of personList" value="{{ selectPerson.id }}">{{ selectPerson.name }}</option>
        </select><br>
    </div>
    <input type="submit" value="Adicionar" *ngIf="person.name && !+person.name">
</form>

<div *ngFor="let person of personList" class="flex-container">
    <table>
        <tr>
            <th>nome</th>
            <th>id</th>
        </tr>
        <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.id }}</td>
        </tr>
    </table>
</div>